In [1]:
import pandas as pd
import json

In [5]:
df_s = pd.read_csv('switch.csv')
df_s

           Week  switch: (Worldwide)
0    2015-06-14                   18
1    2015-06-21                   18
2    2015-06-28                   18
3    2015-07-05                   18
4    2015-07-12                   18
..          ...                  ...
255  2020-05-03                   65
256  2020-05-10                   63
257  2020-05-17                   61
258  2020-05-24                   60
259  2020-05-31                   57

[260 rows x 2 columns]

In [11]:
index = df_s.columns.get_loc('Week')

In [16]:
df_s = df_s[df_s['Week']>'2017-03-03']

In [18]:
#df_s.to_json(orient = 'records')

In [19]:
df_s.to_json(r'/Users/mandy/Desktop/final/data.json',orient='records')

In [14]:
df = pd.read_csv('games.csv')
df.head()

,Week,animal crossing: (Worldwide),pokemon: (Worldwide),mario: (Worldwide)
0,2017-04-30,1,48,27
1,2017-05-07,1,47,24
2,2017-05-14,1,47,24
3,2017-05-21,1,46,23
4,2017-05-28,1,45,23

In [15]:
df = df.replace('<1',0.1)
df.head()

,Week,animal crossing: (Worldwide),pokemon: (Worldwide),mario: (Worldwide)
0,2017-04-30,1,48,27
1,2017-05-07,1,47,24
2,2017-05-14,1,47,24
3,2017-05-21,1,46,23
4,2017-05-28,1,45,23

In [17]:
df = df[df['Week']>'2020-01-01']

In [18]:
df.to_json(r'/Users/mandy/Desktop/final/gameD.json',orient='records')